$background: #007ad9;
$background2:  #229eff;

header {
    background: $background;

    .logo {
        font-weight: bold;
        margin-top: 0.5em;
    }

    nav {
        justify-self: right;
    
        ul {
            list-style-type: none;
            margin: 0; padding: 0;

            li {
                float: left;

                a {
                    padding: 1.5em;
                    text-transform: uppercase;
                    font-size: .8em;

                    &:hover {
                        background: $background2;
                        color:inherit;
                    }
                }
            }
        }
    }
}