<h2>Reactive Form</h2>
<p-tabView>
    <p-tabPanel header="ejemplo">
      <p-toast [style]="{marginTop: '80px'}"></p-toast>

      <form [formGroup]="userform" (ngSubmit)="onSubmit(userform.value)">
          <p-panel header="Validate">
              <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                  <div class="ui-grid-row">
                      <div class="ui-grid-col-2">
                          Texto *:
                      </div>
                      <div class="ui-grid-col-6">
                          <input pInputText type="text" formControlName="texto" placeholder="Required" pInputText/>
                      </div>
                      <div class="ui-grid-col-4">
                        <p-message severity="error" text="Texto is required (5 caracteres mínimo)" 
                        *ngIf="!userform.controls['texto'].valid && userform.controls['texto'].dirty &&  userform.controls['texto'].errors.minlength"></p-message>
                        <p-message severity="error" text="Formato de hora HH:MM" 
                        *ngIf="!userform.controls['texto'].valid && userform.controls['texto'].dirty &&  userform.controls['texto'].errors.horaFail "></p-message>
                      </div>
                  </div>
                  <div class="ui-grid-row">
                      <div class="ui-grid-col-2">
                          Fecha *:
                      </div>
                      <div class="ui-grid-col-6">
                          <p-calendar formControlName="fecha"></p-calendar>
                      </div>
                      <div class="ui-grid-col-4">
                      <p-message severity="error" [text]="userform.controls['fecha'].errors['required'] ? 'Date is required (dd/MM/YYYY)' : ''" 
                              *ngIf="!userform.controls['fecha'].valid&&userform.controls['fecha'].dirty"></p-message>
                      </div>
                  </div>
                  <div class="ui-grid-row">
                      <div class="ui-grid-col-2">
                          marca *:
                      </div>
                      <div class="ui-grid-col-6">
                          <p-dropdown [options]="marcas" formControlName="marca" [autoWidth]="false"
                          class="ng-tns-c9-93 ui-inputwrapper-filled ng-untouched ng-pristine ng-invalid"></p-dropdown>
                      </div>
                      <div class="ui-grid-col-4">
                          <p-message severity="error" text="Marca is required" 
                          *ngIf="!userform.controls['marca'].valid&&userform.controls['marca'].dirty"></p-message>
                      </div>
                  </div>
                  <div class="ui-grid-row">
                      <div class="ui-grid-col-2">
                          coche *:
                      </div>
                      <div class="ui-grid-col-6">
                          <p-dropdown [options]="coches" formControlName="coche" [autoWidth]="false"
                          class="ng-tns-c9-93 ui-inputwrapper-filled ng-untouched ng-pristine ng-invalid"></p-dropdown>
                      </div>
                      <div class="ui-grid-col-4">
                          <p-message severity="error" text="coche is required" 
                          *ngIf="!userform.controls['coche'].valid&&userform.controls['coche'].dirty"></p-message>
                      </div>
                  </div>
                  <div class="ui-grid-row">
                      <div class="ui-grid-col-2"></div>
                      <div class="ui-grid-col-6">
                          <button pButton type="submit" label="Submit" [disabled]="!userform.valid"
                           class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"></button>
                      </div>
                      <div class="ui-grid-col-4"></div>
                  </div>
                  <div style="text-align:center;margin-top:20px" *ngIf="submitted">
                      Form Submitted
                      <br>
                      {{diagnostic}}
                  </div>
              </div>
          </p-panel>
      </form>
    </p-tabPanel>
  
    <p-tabPanel header="Codigo html">
        <pre>
          <code class="language-markup" ngNonBindable pCode>
  &lt;p-toast [style]=&quot;&#123;marginTop: &apos;80px&apos;}&quot;&gt;&lt;/p-toast&gt;

  &lt;form [formGroup]=&quot;userform&quot; (ngSubmit)=&quot;onSubmit(userform.value)&quot;&gt;
      &lt;p-panel header=&quot;Validate&quot;&gt;
          &lt;div class=&quot;ui-grid ui-grid-responsive ui-grid-pad ui-fluid&quot; style=&quot;margin: 10px 0px&quot;&gt;
              &lt;div class=&quot;ui-grid-row&quot;&gt;
                  &lt;div class=&quot;ui-grid-col-2&quot;&gt;
                      Texto *:
                  &lt;/div&gt;
                  &lt;div class=&quot;ui-grid-col-6&quot;&gt;
                      &lt;input pInputText type=&quot;text&quot; formControlName=&quot;texto&quot; placeholder=&quot;Required&quot; pInputText/&gt;
                  &lt;/div&gt;
                  &lt;div class=&quot;ui-grid-col-4&quot;&gt;
                      &lt;p-message severity=&quot;error&quot; text=&quot;Texto is required (6 caracteres mínimo)&quot; 
                        *ngIf=&quot;!userform.controls[&apos;texto&apos;].valid&amp;&amp;userform.controls[&apos;texto&apos;].dirty&quot;&gt;&lt;/p-message&gt;
                  &lt;/div&gt;
              &lt;/div&gt;
              &lt;div class=&quot;ui-grid-row&quot;&gt;
                  &lt;div class=&quot;ui-grid-col-2&quot;&gt;
                      Fecha *:
                  &lt;/div&gt;
                  &lt;div class=&quot;ui-grid-col-6&quot;&gt;
                      &lt;p-calendar formControlName=&quot;fecha&quot;&gt;&lt;/p-calendar&gt;
                  &lt;/div&gt;
                  &lt;div class=&quot;ui-grid-col-4&quot;&gt;
                  &lt;p-message severity=&quot;error&quot; 
                          [text]=&quot;userform.controls[&apos;fecha&apos;].errors[&apos;required&apos;] ? &apos;Date is required (dd/MM/YYYY)&apos; : &apos;&apos;&quot; 
                          *ngIf=&quot;!userform.controls[&apos;fecha&apos;].valid&amp;&amp;userform.controls[&apos;fecha&apos;].dirty&quot;&gt;&lt;/p-message&gt;
                  &lt;/div&gt;
              &lt;/div&gt;
              &lt;div class=&quot;ui-grid-row&quot;&gt;
                  &lt;div class=&quot;ui-grid-col-2&quot;&gt;
                      marca *:
                  &lt;/div&gt;
                  &lt;div class=&quot;ui-grid-col-6&quot;&gt;
                      &lt;p-dropdown [options]=&quot;marcas&quot; formControlName=&quot;marca&quot; [autoWidth]=&quot;false&quot;
                      class=&quot;ng-tns-c9-93 ui-inputwrapper-filled ng-untouched ng-pristine ng-invalid&quot;&gt;&lt;/p-dropdown&gt;
                  &lt;/div&gt;
                  &lt;div class=&quot;ui-grid-col-4&quot;&gt;
                      &lt;p-message severity=&quot;error&quot; text=&quot;Marca is required&quot; 
                      *ngIf=&quot;!userform.controls[&apos;marca&apos;].valid&amp;&amp;userform.controls[&apos;marca&apos;].dirty&quot;&gt;&lt;/p-message&gt;
                  &lt;/div&gt;
              &lt;/div&gt;
              &lt;div class=&quot;ui-grid-row&quot;&gt;
                  &lt;div class=&quot;ui-grid-col-2&quot;&gt;
                      coche *:
                  &lt;/div&gt;
                  &lt;div class=&quot;ui-grid-col-6&quot;&gt;
                      &lt;p-dropdown [options]=&quot;coches&quot; formControlName=&quot;coche&quot; [autoWidth]=&quot;false&quot;
                      class=&quot;ng-tns-c9-93 ui-inputwrapper-filled ng-untouched ng-pristine ng-invalid&quot;&gt;&lt;/p-dropdown&gt;
                  &lt;/div&gt;
                  &lt;div class=&quot;ui-grid-col-4&quot;&gt;
                      &lt;p-message severity=&quot;error&quot; text=&quot;coche is required&quot; 
                      *ngIf=&quot;!userform.controls[&apos;coche&apos;].valid&amp;&amp;userform.controls[&apos;coche&apos;].dirty&quot;&gt;&lt;/p-message&gt;
                  &lt;/div&gt;
              &lt;/div&gt;
              &lt;div class=&quot;ui-grid-row&quot;&gt;
                  &lt;div class=&quot;ui-grid-col-2&quot;&gt;&lt;/div&gt;
                  &lt;div class=&quot;ui-grid-col-6&quot;&gt;
                      &lt;button pButton type=&quot;submit&quot; label=&quot;Submit&quot; [disabled]=&quot;!userform.valid&quot;
                        class=&quot;ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only&quot;&gt;&lt;/button&gt;
                  &lt;/div&gt;
                  &lt;div class=&quot;ui-grid-col-4&quot;&gt;&lt;/div&gt;
              &lt;/div&gt;
              &lt;div style=&quot;text-align:center;margin-top:20px&quot; *ngIf=&quot;submitted&quot;&gt;
                  Form Submitted
                  &lt;br&gt;
                  {{diagnostic}}
              &lt;/div&gt;
          &lt;/div&gt;
          </code>
        </pre>
        </p-tabPanel>
    <p-tabPanel header="Codigo TS">
        <pre>
          <code class="language-js" ngNonBindable pCode>
              import &#123; Component, OnInit } from &apos;@angular/core&apos;;
              import &#123;Validators,FormControl,FormGroup,FormBuilder} from &apos;@angular/forms&apos;;
              import &#123;MessageService, SelectItem} from &apos;primeng/api&apos;;
              
              @Component(&#123;
                selector: &apos;app-form&apos;,
                templateUrl: &apos;./form.component.html&apos;,
                styleUrls: [&apos;./form.component.css&apos;],
                providers: [MessageService]
              })
              export class FormComponent implements OnInit &#123;
                  userform: FormGroup;
                  submitted: boolean;
                  marcas: SelectItem[];
                  coches: SelectItem[];
                  description: string;
              
                  constructor(private fb: FormBuilder, private messageService: MessageService) &#123;}
              
                  ngOnInit() &#123;
                    this.userform = this.fb.group(&#123;
                        &apos;texto&apos;: new FormControl(&apos;&apos;,  Validators.compose([Validators.required, Validators.minLength(6)])),
                        &apos;fecha&apos;: new FormControl(&apos;&apos;, Validators.required),
                        &apos;marca&apos;: new FormControl(&apos;&apos;, Validators.required),
                        &apos;coche&apos;: new FormControl(&apos;&apos;, Validators.required)
                    });
                    this.userform.controls[&apos;fecha&apos;].setValue(new Date());
                    this.marcas = [];
                    this.marcas.push(&#123;label:&apos;Select marca&apos;, value:&apos;&apos;});
                    this.marcas.push(&#123;label:&apos;Magda&apos;, value:&apos;Magda&apos;});
                    this.marcas.push(&#123;label:&apos;Ford&apos;, value:&apos;Ford&apos;});
                    this.coches=[];
                    this.userform.controls[&apos;marca&apos;].valueChanges.subscribe((value) =&gt; &#123;
                      console.log(value);
                      this.coches.length=0;
                      this.coches.push(&#123;label:&apos;Select coche&apos;, value:&apos;&apos;});
                      if(value===&apos;Magda&apos;)&#123;
                          this.coches.push(&#123;label:&apos;Cx-3&apos;, value:&apos;Cx-3&apos;});
                          this.coches.push(&#123;label:&apos;Cx-5&apos;, value:&apos;Cx-5&apos;});
                      }else&#123;
                          this.coches.push(&#123;label:&apos;focus&apos;, value:&apos;focus&apos;});
                          this.coches.push(&#123;label:&apos;mondeo&apos;, value:&apos;mondeo&apos;});
                      }
                      this.userform.controls[&apos;coche&apos;].setValue(&apos;&apos;);
                    });
                }
              
                onSubmit(value: string) &#123;
                    this.submitted = true;
                    this.messageService.add(&#123;severity:&apos;info&apos;, summary:&apos;Success&apos;, detail:&apos;Form Submitted2&apos;});
                }
              
                get diagnostic() &#123; return JSON.stringify(this.userform.value); }
              
              }              
          </code>
        </pre>
        </p-tabPanel>
</p-tabView>
