/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body,html{
    height: 100%;
    width:100%;
    margin: 0;
    padding:0;
}

body {
    font-family: 'Montserrat';
    font-size: 18px;
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    margin:0 auto;
    padding: 0.4em;
    display:grid;
    grid-template-columns:30% auto;
}

.container a {
    color: white;
}

section {
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    overflow-x:hidden;
    background:#fafafa;
}

router-outlet ~ * {
    position: absolute;
    height: 100%;
    width: 100%;
    border: 10px solid transparent;
  }

  /***** PRIMENG ****/
  body header .ui-menubar {
    background-color: transparent;
    color: white;
    border: none;
}

body .ui-menubar .ui-menuitem-link { color:white}
body .ui-menubar .ui-menuitem-link:hover { background-color:#1b88de; }
body .ui-menubar .ui-submenu-list { background-color:#007ad9; border:none; }
body .ui-menubar .ui-menuitem.ui-menuitem-active > .ui-menuitem-link{ background-color: #1b88de;}
body .ui-menubar .ui-menuitem.ui-menuitem-active > .ui-menuitem-link .ui-submenu-icon{ color: inherit;}
body .ui-menubar .ui-menuitem.ui-menuitem-active > .ui-menuitem-link .ui-menuitem-text{ color: white;}

body .ui-menubar .ui-menuitem-link .ui-menuitem-text{    color: #f5f4f4;}
body .ui-menubar .ui-menuitem-link:hover .ui-menuitem-text{   color: #f5f4f4;}

/** Forms tooltips errors */

.tooltip-error.ui-tooltip   .ui-tooltip-text {background: #c00000!important; color:white;} 
.tooltip-error.ui-tooltip .ui-tooltip-arrow  {color: #c00000 !important; border-right-color: red!important;} 

body .ui-inputtext:enabled:focus:not(.ng-pristine):not(.ng-valid),
body .ui-inputtext:enabled:hover:not(.ng-pristine):not(.ng-valid) {
    border-color: #c00000;
}
